<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ appName }}</title>
    <link rel="icon" href="{{ asset_path }}/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="{{ asset_path }}/style.css">
    <script src="{{ asset_path }}/script.js" defer></script>
</head>
<body style="background-image: url('{{ backgroundImage }}');">
    <div class="status">
    <p>{{ myname }}</p>
    {% if usemongo %}
        J: {{ mongojokes }} C: {{ mongococktails }}
    {% endif %}
    </div>
    <div class="container">
        <h1>{{ appName }}</h1>
        <p><a href="/joke">Get a Random Joke</a></p>
        <p><a href="/cocktail">Get a Cocktail Recipe</a></p>
    </div>
</body>
</html>
